	h1 {
		color: blue;
		text-align: center;
	}

	p {
		color: gray;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		text-align: justify;
	}
	/*Este es un estilo que se va a aplicar directo en el id 'parrafo-especial'*/
	#parrafo-especial {
			color: coral;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			text-align: justify;
			font-size: 14px;
	}
	.texto-mediano-rojo{
		color: red;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			text-align: justify;
			font-size: 22px;
	}

	h2 {
		color: skyblue;
	}

	table,tr,td,th{
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,td{
		padding: 15px;
	}
	